.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.alert-success{
  color: green;
}
.alert-danger{
  color: red;
}


.list {
  margin: 2rem 0.75rem 0 0.75rem;
  list-style-type: none;
  border: none;
  padding: 0;
}

.item {
  background-color: var(--mainWhite);
  line-height: 1.5rem;
  padding: 10px 20px;
  margin-bottom: 1rem;
  border: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s linear;
}

.expense {
  margin-right: 2rem;
  text-transform: capitalize;
}
.amount {
  font-weight: 300;
  font-size: 1rem;
  color: var(--mainWhite);
  background-color: var(--primaryColor);
  border-radius: 2px;
  padding: 1px 3px;
}
.info {
  flex: 0 0 100%;
  display: flex;
  justify-content: space-between;
}
.btn {
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.5px;
  font-size: 14px;
  outline: 0;
  border: none;
  border-radius: 2px;
  display: block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  margin: 0 auto;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  display: flex;
  align-items: center;
}
.btn-edit,
.btn-push{
  color: green;
} 

.btn-delete{
  color: darkred;
}
.form-center {
  display: flex;
  padding: 0 1rem;
}
.form-group {
  padding: 1rem 0.75rem;
  flex: 0 0 50%;
}


